@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@import url("main.css");

h1 {
  font-size: 40px;
}
img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}
.button-container {
  display: flex;
  flex-direction: row;
  gap: 70px;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
  height: 350px;
  width: 30%;
  margin: 40px auto;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 20px;
  align-items: center;
  background: #f4f4f4;
}
.button-description {
  margin-top: 10px;
  text-align: center;
}
.button-description p {
  color: var(--text-color);
  font-size: 18px;
  font-weight: bold;
}

#graph {
  opacity: 0.5;
  pointer-events: none;
}

.button-container button {
  padding: 15px;
  border: none;
  border-radius: 25%;
  background: grey;
  cursor: pointer;
  transition: var(--transit);
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.material-symbols-outlined {
  font-size: 100px !important;
  color: white;
}

.button-container button:hover {
  background: var(--secondary-color);
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
