:root {
  /* Основные цвета */
  --primary-color: #4caf50;
  --secondary-color: rgb(62, 142, 65);
  --background-color: #f0f0f0;
  --text-color: #333;
  --border: 1px solid #ccc;
  --form-color: #4dff000f;
  --red: rgba(192, 15, 15, 0.587);

  /* Основные размеры */
  --font-size: 16px;
  --table-font: 24px;
  --line-height: 1.5;
  --padding: 20px;
  --margin: 10px;
  --border-radius: 5px;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  /* Основные шрифты */
  --font-family: Arial, sans-serif;
  /**/
  --transit: all 0.2s cubic-bezier(0.4, 0.3, 0.6, 1);
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-y: hidden;
}

h1 {
  text-align: center;
  margin-top: 80px;
  font-size: var(--table-font);
  font-weight: bold;
  color: var(--text-color);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: var(--padding);
}

.row {
  display: flex;
  justify-content: space-around;
  margin-bottom: var(--margin);
  width: 100%;
  height: calc(100vh / 3);
}

.col-md-3 {
  width: calc(25% - var(--margin));
  margin: var(--margin);
}

.image-block {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.block,
.hover,
.visited {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity var(--transit);
}

.block {
  opacity: 1;
}

.hover,
.visited {
  opacity: 0;
}

.image-block:hover .block {
  opacity: 0;
}

.image-block:hover .hover {
  opacity: 1;
}

.visited {
  opacity: 0;
}

.image-block a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--text-color);
}

button[type="button"] {
  font-size: var(--font-size);
  width: calc(100% - 40px);
  height: 40px;
  margin: 20px;
  padding: 10px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--background-color) !important;
  transition: background-color var(--transit);
}

button[type="button"]:hover {
  background-color: var(--secondary-color);
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 10px 20px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  text-decoration: none;
  transition: background-color var(--transit);
}

.back-button:hover {
  background-color: var(--secondary-color);
}

form {
  text-align: center;
  width: 50%;
  margin: 40px auto;
  padding: 20px;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--form-color);
}

input[type="text"] {
  width: calc(100% - 40px);
  height: 40px;
  margin: 20px;
  padding: 10px;
  border: var(--border);
  border-radius: var(--border-radius);
  transition: border -color var(--transit);
}

input[type="text"]:focus {
  border-color: var(--primary-color);
}

#output-container {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

input[type="submit"] {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color var(--transit);
}

input[type="submit"]:hover {
  background-color: var(--secondary-color);
}

#generate-vector {
  width: calc(100% - 40px);
  height: 40px;
  margin: 20px;
  padding: 10px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--text-color);
}

#generate-vector:hover {
  background-color: var(--secondary-color);
}