:root {
  /* Основные цвета */
  --primary-color: #4caf50;
  --secondary-color: rgb(62, 142, 65);
  --background: url(../images/background.svg);
  --text-color: #333;
  --border: 1px solid #ccc;
  --form-color: #f5fff0;
  --button-color: white;
  --red: rgb(192 15 15);

  /* Основные размеры */
  --font-size: 16px;
  --table-font: 24px;
  --line-height: 1.5;
  --padding: 20px;
  --margin: 10px;
  --border-radius: 5px;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  /* Основные шрифты */
  --font-family: "Samsung Myanmar Regular";
  /**/
  --transit: all 0.2s ease-in-out;
}

.dark {
  /*--primary-color: #333;
  --secondary-color: rgb(62, 62, 62);*/
  --text-color: #f5fff0;
  --form-color: rgb(20, 20, 20);
  --button-color: rgb(20, 20, 20);
  --back-color: #000;
}

@font-face {
  font-family: "Samsung Myanmar Regular";
  src: url(../fonts/Samsung\ Myanmar\ Regular.ttf);
}

* {
  font-family: var(--font-family);
  font-size: var(--font-size);
  user-select: none;
}

body {
  line-height: var(--line-height);
  margin: 0;
  padding: 0;
  background: var(--background);
  background-size: cover;
  color: var(--text-color);
  overflow-y: hidden;
  background-color: var(--back-color);
}

h1 {
  text-align: center;
  height: auto;
  width: max-content;
  padding: 10px;
  margin: 50px auto;
  font-size: var(--table-font);
  font-weight: bold;
  color: var(--text-color);
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--back-color);
}

.visited{
  width: 100%;
  height: 100%;
  font-size: var(--table-font);
  align-content: center;
  background-color: var(--form-color);
  border-radius: var(--border-radius);
  opacity: 0.9 !important;
}

.hover{
  background-color: var(--form-color);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: var(--padding);
  padding-top: 60px;
  padding-bottom: 50px;
}

button[type="button"] {
  width: calc(100% - 40px);
  height: 40px;
  margin: 20px;
  padding: 10px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--button-color) !important;
}

button[type="button"]:hover {
  background: var(--secondary-color);
  border: 2px solid var(--text-color) !important;
  transition: var(--transit);
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background: var(--primary-color);
  color: var(--button-color);
  padding: 10px 20px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.back-button:hover {
  background: var(--secondary-color);
  border: 2px solid var(--text-color);
}

form {
  text-align: center;
  width: 50%;
  margin: 40px auto;
  padding: 20px;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--form-color);
}

input[type="text"] {
  width: calc(100% - 40px);
  height: 40px;
  margin: 20px;
  padding: 10px;
  border: var(--border);
  border-radius: var(--border-radius);
  transition: border -color var(--transit);
}

input[type="text"]:focus {
  border-color: var(--primary-color);
}

#output-container {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 50px;
}

#output-container2 {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  height: auto;
}

#output0 {
  font-size: var(--table-font);
  font-weight: bold;
  margin: 0;
  height: 30px;
  width: max-content;
  padding: 10px;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--back-color);
}

.output3 {
  border: none !important;
  background-color: #ffffff00;
  font-size: var(--table-font);
  font-weight: bold;
  margin: 0;
  height: 25px;
  width: max-content;
}

input[type="submit"] {
  background: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  cursor: pointer;
  transition: var(--transit);
}

input[type="submit"]:hover {
  background: var(--secondary-color);
  border: 2px solid var(--text-color);
}

#generate-vector {
  width: calc(100% - 40px);
  height: 40px;
  margin: 20px;
  padding: 10px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  background: var(--primary-color);
  color: var(--text-color);
}

#generate-vector:hover {
  background: var(--secondary-color);
  border: 2px solid var(--text-color);
}

.class-button {
  width: 70px;
  height: 70px;
  background: var(--back-color);
  color: var(--font-color);
  text-align: center;
  align-content: center;
  font-size: var(--table-font);
  margin: 10px 4px;
  cursor: pointer;
  border-radius: var(--border-radius);
  box-shadow: 3px 4px 2px 0px rgb(0 0 0 / 25%);
  transition: var(--transit);
  position: relative;
}

.selected {
  background: #cececece;
  box-shadow: inset 3px 4px 2px 0px rgb(0 0 0 / 25%);
  transform: translateY(3px);
}

.right {
  background: var(--secondary-color);
  box-shadow: inset 3px 4px 2px 0px rgb(0 0 0 / 25%);
  transform: translateY(3px);
}

.wrong {
  background: var(--red);
  box-shadow: inset 3px 4px 2px 0px rgb(0 0 0 / 25%);
  transform: translateY(3px);
}

.wrong-unselected {
  background: var(--red);
  box-shadow: 3px 4px 2px 0px rgb(0 0 0 / 25%);
}

.right::after,
.wrong-unselected::after {
  content: "+";
  position: absolute;
  bottom: 65px;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--table-font);
  color: green;
}

.wrong::after {
  content: "-";
  position: absolute;
  bottom: 65px;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--table-font);
  color: var(--red);
}
