@import url("main.css");

.col {
  width: 200px;
  margin: var(--margin);
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  border: var(--border);
  border-radius: var(--border-radius);
}

.row {
  display: flex;
  justify-content: space-around;
  margin-top: var(--margin);
  width: 100%;
  height: calc(90vh / 3 - 5px);
}

.block,
.visited,
.hover {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.6s;
}

.image-block a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--text-color);
}

.image-block::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--primary-color);
  color: white;
  padding: 5px 10px;
  border: 0;
  border-radius: var(--border-radius);
  font-size: 14px;
  opacity: 0;
  transition: var(--transit);
  pointer-events: none;
  white-space: nowrap;
  z-index: 1000;
  opacity: 1;
}

.image-block:hover::after {
  opacity: 0;
  transform: translateX(-50%) translateY(-5px);
}

.block {
  opacity: 1;
}

.visited,
.hover {
  opacity: 0 !important;
}

.image-block:hover .block {
  opacity: 0;
}

.image-block:hover .visited {
  opacity: 1 !important;
}

.hover {
  opacity: 0;
}

.image-block {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
