@import url("main.css");

body{
  overflow-y: auto;
}

#output1 {
  font-size: var(--table-font);
  font-weight: bold;
  display: inline-block;
}

#output0 {
  font-size: var(--table-font);
  font-weight: bold;
  margin: 0;
  height: 27px;
  width: max-content;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}

th,
td {
  border: var(--border);
  padding: 10px;
  text-align: center;
}

th {
  background-color: var(--form-color);
}

td {
  background-color: white;
}