@import url('main.css');

.result {
    font-size: var(--table-font);
    font-weight: bold;
    margin: 0;
    height: 27px;
    width: max-content;
}

.zad {
    font-weight: bold;
    font-size: 23px;
}

.button {
    background-color: var(--secondary-color);
    color: black;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    transition: background-color 0.5s ease-in-out;
    color: #000000;
}