@import url("main.css");

body{
  overflow-y: auto;
}

h1 {
  text-align: center;
  margin-top: 80px;
  font-size: var(--table-font);
}

form {
  width: 50%;
  margin: 40px auto;
  padding: 20px;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--form-color);
}

input[type="text"] {
  width: calc(100% - 40px);
  height: 40px;
  margin: 20px;
  padding: 10px;
  border: var(--border);
  border-radius: var(--border-radius);
}

#output-container, #output-container2{
  width: 100%;
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#output1 {
  font-size: var(--table-font);
  font-weight: bold;
  display: inline-block;
}

#output0 {
  font-size: var(--table-font);
  font-weight: bold;
  margin: 0;
  height: 27px;
  width: max-content;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}

th,
td {
  border: var(--border);
  padding: 10px;
  text-align: center;
}

th {
  background-color: var(--form-color);
}

td {
  background-color: white;
}

button[type="button"] {
  width: calc(100% - 40px);
  height: 40px;
  margin: 20px;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  color: var(--text-color);
}

button[type="button"]:hover {
  background-color: var(--secondary-color);
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 10px 20px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  text-decoration: none;
}

.back-button:hover {
  background-color: var(--secondary-color);
}