@import url("main.css");

#output1 {
  font-size: var(--table-font);
  font-weight: bold;
  margin: 0;
  height: 27px;
  width: max-content;
}

#function-container {
  margin: 10px;
  justify-content: center;
}

#result-container {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#result {
  font-size: var(--table-font);
  font-weight: bold;
  margin: 0;
  height: 27px;
  width: max-content;
}

#check-result {
  width: calc(100% - 40px);
  height: 40px;
  margin: 20px;
  padding: 10px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--text-color);
}

#check-result:hover {
  background-color: var(--secondary-color);
}

#class-container {
  margin: 10px;
  justify-content: center;
}

#class {
  width: calc(100% - 40px);
  height: 40px;
  margin: 20px;
  padding: 10px;
  border: var(--border);
  border-radius: var(--border-radius);
}

.class-container {
  width: 100%;
  margin-top: 2px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

p{
  font-size: var(--font-size);
}

#full{
  width: auto;
}