@import url("main.css");

#output1 {
  font-size: var(--table-font);
  font-weight: bold;
  margin: 0;
  height: 27px;
  width: max-content;
}

#function-container {
  margin: 10px;
  justify-content: center;
}

#result-container {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#result {
  font-size: var(--table-font);
  font-weight: bold;
  margin: 0;
  height: 27px;
  width: max-content;
}

#check-result {
  width: calc(100% - 40px);
  height: 40px;
  margin: 20px;
  padding: 10px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--text-color);
}

#check-result:hover {
  background-color: var(--secondary-color);
}

#class-container {
  margin: 10px;
  justify-content: center;
}

#class {
  width: calc(100% - 40px);
  height: 40px;
  margin: 20px;
  padding: 10px;
  border: var(--border);
  border-radius: var(--border-radius);
}
  
.class-button {
  width: 70px;
  height: 70px;
  background-color: white;
  color: var(--font-color);
  text-align: center;
  align-content: center;
  font-size: var(--table-font);
  margin: 10px 4px;
  cursor: pointer;
  border-radius: var(--border-radius);
  box-shadow: 3px 4px 2px 0px rgb(0 0 0 / 25%);
  transition: var(--transit);
}

.selected {
  background-color: #cececece;
  box-shadow: inset 3px 4px 2px 0px rgb(0 0 0 / 25%);
  transform: translateY(3px);
}

.right {
  background-color: var(--secondary-color);
  box-shadow: 3px 4px 2px 0px rgba(62, 142, 65, 0.687);
  transform: translateY(3px);
}

.wrong {
  background-color: rgb(192 15 15);
  box-shadow: 0 0 8px 3px var(--red);
  transform: translateY(3px);
}

.not-selected {
  background-color: rgb(192 15 15);
  box-shadow: 0 0 8px 3px var(--primary-color)
}

.not-selected-wrong {
  background-color: var(--primary-color);
  box-shadow: 0 0 8px 3px var(--red)
}

.class-container {
  width: 100%;
  margin-top: 2px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}