@import url("main.css");

#vector {
    width: calc(100% - 40px);
    height: 40px;
    margin: 20px;
    padding: 10px;
    border: var(--border);
    border-radius: var(--border-radius);
}

#argument {
    width: 50px;
    height: 30px;
    margin: 10px;
    padding: 0px;
    border: var(--border);
    border-radius: var(--border-radius);
    font-size: var(--table-font)-2px;
}

#output0 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    height: 27px;
    width: max-content;
}

#zero, #one  {
    appearance: none;
    width: 15px;
    height: 15px;
    margin-right: 0px;
    border: 2px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
}

#zero:checked, #one:checked {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}