@import url('main.css');

#nullvector,
#edvector {
  width: calc(100% - 40px);
  height: 40px;
  font-size: var(--table-font);
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

#argument {
  width: 10%;
  height: 50px;
  font-size: var(--table-font);
  text-align: center;
  margin: 0;
  padding: 10px;
  border: var(--border);
  border-radius: 50px;
  box-shadow: var(--box-shadow);
}

.output0 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  height: 27px;
  width: max-content;
}