@import url('main.css');

#pmka{
   font-size: var(--table-font);
}

.output0 {
  font-size: var(--table-font);
  font-weight: bold;
  margin: 0;
  height: 27px;
  width: max-content;
}

