@import url('main.css');

#output1 {
  font-size: var(--table-font);
  font-weight: bold;
  margin: 0;
  height: 27px;
  width: max-content;
}

#vector-container {
  margin: 10px;
  justify-content: center;
}