@import url("main.css");

#output1 {
  font-size: var(--table-font);
  font-weight: bold;
  margin: 0;
  height: 27px;
  width: max-content;
}

#variable-container {
  margin: 10px;
  justify-content: center;
}

#knf {
  width: 450px;
  height: 40px;
  margin: 20px;
  padding: 10px;
  border: var(--border);
  border-radius: var(--border-radius);
}

#check-knf {
  width: 50%;
  height: 40px;
  margin: 20px;
  padding: 10px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--text-color);
}

#check-knf:hover {
  background-color: var(--secondary-color);
}

#result-container {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#result {
  font-size: var(--table-font);
  font-weight: bold;
  margin: 0;
  height: 27px;
  width: max-content;
}

#correct-answer {
  position: absolute !important;
  top: 60px !important;
  right: 20px !important;
  padding: 10px 20px !important;
  width: 180px !important;
}

#correct-answer:hover {
  background-color: var(--secondary-color);
}

#correct-answer-container {
  margin-top: 20px;
  font-size: var(--table-font);
  font-weight: bold;
}
.info-button::after {
  width: 400px !important;
}